{% extends "front/layout.twig" %}
{% block content %}

<style>
   .product__img {
   max-width: 335px;
   max-height: 335.0px;
   }
   .product__img-wrapper {
   max-width: 335px;
   }
</style>

<div class="shopify-section">
   <div id="CollectionSection" data-section-id="collection-template" data-section-type="collection-template" data-sort-enabled="true" data-tags-enabled="true">
      <div class="section-header section-header--breadcrumb">
         <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
            <a href="/" title="Retour à la page d'accueil">Accueil</a>
            <span aria-hidden="true" class="breadcrumb__sep">›</span>
            <span>{{ current_categorie }}</span>
         </nav>
      </div>
      <header class="section-header section-header--large">
         <h1 class="section-header__title section-header__title--left">{{ current_categorie }}</h1>
      </header>
      
      <div class="grid-uniform grid-link__container">
      {%  for product in products %}
         <div class="grid__item wide--one-fifth large--one-quarter medium-down--one-half">
            <div class="">
               <a href="{{ path_for('website.product',{ id : product.id}) }}" class="grid-link text-center">
                  <span class="grid-link__image grid-link__image-sold-out grid-link__image--product" data-image-wrapper="" style="height: 220px;">
                     <span class="grid-link__image-centered">
                        <div class="product__img-wrapper supports-js">
                           <div style="padding-top:100.0%;">
                              <img class="product__img"  src="{{ url.products }}{{product.thumbnail}}">
                           </div>
                        </div>
                     </span>
                  </span>
                  <p class="grid-link__title">{{ product.name }}</p>
                  <p class="grid-link__meta">
                     <span class="visually-hidden">Prix régulier</span>
                     {{ product.price }} dh
                  </p>
               </a>
            </div>
         </div>
         {% endfor %}      
      </div>      
   </div>
</div>

<div class="text-center">


<center>{{p|raw}}</center>

</div>

{% endblock %}  
            